body{
    background-color: #b6b7bc;
    font-size: .80em;
    color: #696969;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

.page{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px;
    border: 1px solid #496077;
}

.header{
    width: 100%;
    height: 86px;
    background-color: #4b6c9e;
}

.top_bar{
    height: 51px;
}

.title, .login{
    text-align: left;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

.title h1{
    color: #f9f9f9;
    font-weight: 700;
    font-size: 2em;
    line-height: 2em;
    text-indent: 1em;
}

.login{
    margin: 10px 10px 0px 0px;
    color: #f9f9f9;
    font-weight: normal;
    font-size: 1.1em;
}

.login a{
    color: #f9f9f9;
    font-weight: normal;
    font-size: inherit;
}

.navigation_back{
    background-color: #3a4f63;
    height: 35px;
    width: 100%;
}

.navigation{
    height: 27px;
    background-color: #3a4f63;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.clear{
    clear: both;
}

.navigation ul{
    position: relative;
    width: auto;
    display: block;
}

.navigation li{
    position: relative;
    text-align: center;
}

.navigation a{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
.navigation a:hover{
    background-color: #bfcbd6;
    color: #465c71;
}

.main{
    background-color: white;
    margin: 12px 20px 8px;
    min-height: 420px;
}
