.edit-header{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

.tips{
    line-height: 35px;
    font-weight: bold;
}

.add-faq{
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    width: 50px;
    border-radius: 4px;
    background-color: #3c95c8;
    text-align: center;
    margin-left: 20px;
}

.add-faq a{
    color: #fff;
}

.faq-table table{
    border: solid 1px #B4B4B4;
    border-collapse: collapse;
    border-spacing: 2px;
    width: 918px;

}

.faq-table th, .faq-table td{
    border: solid 1px #B4B4B4;
    padding: 4px;
}

.faq-table thead tr{
    align: center;
}