

.main{
    height: 500px;
    border-style:solid;
    border-width:1px;
    border-color:#FF0000;
}

.mainpage{
    height: 500px;
    float:left;

    /*
    border-style:solid;
    border-width:1px;
    border-color:#000;
    */
}

.option{
    width: 100px;
    height: 100%;
    float:left;
    background-color: #B0B0B0;
}

.displayarea{

    height: 100%;

    margin-left: 5px;
    display: table-cell;
    width: 1000px;

    /*
    border-style:solid;
    border-width:1px;
    border-color:#000;
    */

}

.versionmanage{
    margin-top: 5px;
    background-color: #FF0000;
}

.versionpublish{
    margin-top: 5px;
    background-color: #FF0000;
}

.publishtest{
    margin-top: 5px;
    background-color: #FF0000;
}


input{
    font-size: 20px;
    border: 5px;
    height: 50px;
    width: 100px;
}