{% extends 'base.html' %}

{% block load %}
{% load static from staticfiles %}
{% endblock %}

{% block link %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/sha1.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block main %}
<div class="main clearfix">
    <div class="main-login clearfix">
        <div class="login-border clearfix">
            <div class="tips">
                <h1>当当国文阅读管理系统</h1>
            </div>
            <div class="login-form clearfix">
                <form action="{% url 'userview:login' %}" method="POST" class="form-login">
                    {% csrf_token %}
                    <div class="username">
                        <label class="fl">账&nbsp;号:</label><input type="text" id="username" name="username" class="fr" autocomplete="true"><br>
                    </div>
                    <div class="passwd">
                        <label class="fl">密&nbsp;码:</label><input type="password" id="passwd" name="passwd" class="fr" autocomplete="true"><br>
                    </div>
                    <div class="error-msg" id="error-msg"><p>&nbsp;</p></div>
                    <div class="submit">
                        <input type="submit" value="登录">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}