{% extends 'base.html' %}

{% block load %}
{% load static from staticfiles %}
{% endblock %}

{% block link %}
    <link href="{% static 'css/mainpage.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/option.js' %}"></script>
{% endblock %}


{% block main %}
<div class="main" clearfix>
    <div class="mainpage sty" clearfix>
        <div class="option" clearfix>
            <div class="versionmanage" clearfix>
                <input type="button" onclick="versionmanagehandle()" value="管理版本">
            </div>
            <div class="versionpublish" clearfix>
                <input type="button" onclick="versionpublishhandle()" value="正式版本">
            </div>
            <div class="publishtest" clearfix>
                <input type="button" onclick="publishtesthandle()" value="升级测试">
            </div>
        </div>
        {% block displayarea %}
        <div class="displayarea">
            <p>这里是功能请求后显示区域</p>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}