{% extends 'base.html' %}

{% block load %}
{% load static from staticfiles %}
{% endblock %}

{% block link %}
<link href="{% static 'css/pack.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/uploadifive.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/uploadify.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/jquery.uploadifive.min.js' %}"></script>
<script src="{% static 'js/jquery.uploadify.min.js' %}"></script>
<script src="{% static 'js/packadd.js' %}"></script>


{% endblock %}

{% block main %}
<div class="main">
    <div class="pack-edit-header">
        <div class="tips fl">
            当当国文阅读器更新包上传
            <span style="color:red;">（上传的更新包与服务器已上传的包同名会进行覆盖！）</span>
        </div>
    </div>
    <div class="pack-edit-info">
        <form action='#' method="post" enctype="multipart/form-data" id="pack_info">
            <ul>
                {% csrf_token %}
                <input type="hidden" name="pid" id="pid" value="{{ pid }}" />
                <li>
                    <label>基础版本号</label><input type="text" id="base_version" name="base_version">
                </li>
                <li>
                    <label>硬件版本</label><input name="model" id="model" type="text">
                </li>
                <li class="clearfix">
                    <label>更新包</label>
                    <div id="pack_upload" class="fl">
                        <input class="file" name="Filedata" id="pack_con" type="file">
                    </div>
                    <span id="pack_uuid" style="margin-left:15px;"></span>
                    <input type="hidden" name="ctl00$MainContent$hiddenpack" id="MainContent_hiddenpack" />
                </li>
                <li class="clearfix">
                    <label>Md5</label>
                    <div id="md5_upload" class="fl">
                        <input class="file" name="Filedata" id="md5_con" type="file">
                    </div>
                    <span id="md5_uuid" style="margin-left:15px;"></span>
                    <input type="hidden" name="ctl00$MainContent$hiddenmd5" id="MainContent_hiddenmd5" />
                </li>
            </ul>
            <div class="pack-sub">
                <label>&nbsp;</label>
                <input type="submit" id="pack_sub" value="提交">
            </div>
        </form>


    </div>
</div>
<script>
    $(window).load(function () {

    })
</script>
{% endblock %}